.app.light {
  --bg-color: #afafaf;
  --inverted-bg-color: #00004f;
  --primary-color: #0030cb;
  --secondary-color: #3847fd;
  --inverted-primary-color: #00a900;
  --inverted-secondary-color: #01d001;
}